
.backgroundWrapper{
    width: 100%;
    position: fixed;
}
.background{
    position: absolute;
    width: 100%;
}
.background2{
    width: 100%;
}
.manWrapper{

}

.man1{
    position: fixed;
    width: 100%;
}
