.mobile{
  display: none;
}

.backgroundWrapper{
    width: 100%;
    position: fixed;
}
.background, .background2{
    position: fixed;
    width: 100%;
}

.background2{
  display: none;
}

.phone, .ringing{
  left: -20px;
  width: 100%;
  position: fixed;
  animation-name: floating2;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 1.3s;
}

.phonee, .ringingg{
  left: -20px;
  width: 100%;
  position: fixed;
}

.ringing{
  display: none;
}

.hand{
    width: 28.6%;
    position: absolute;
    left: 35.3%;
    top: -9.5vw;
    display: none;
}

.grass{
  width: 100%;
  top: -60px;
  position: absolute;
}

.mainlogo{
  padding-top: 22.5px;
  width: 100%;
  position: fixed;
  display: none;
}

.man1, .man2{
    position: fixed;
    width: 100%;
    animation-name: floating;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
}

.man11, .man22{
    position: fixed;
    width: 100%;
}


@keyframes floating {
  from{
    padding-top: 3px;
  }
  to{
    padding-top: -3px;
  }
}

@keyframes floating2 {
  from{
    padding-top: 2px;
  }
  to{
    padding-top: -2px;
  }
}

.man2{
  display: none;
}

@media (max-width: 1024px) {
  .backgroundWrapper, .manWrapper{
    display: none;
  }
  .mobileWrapper{
    display: block;
    width: 100%;
    background: white;
  }
  .mobile{
    display: block;
    width: inherit;

    background: white;
  }
}
