.nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 150px;

    
}

.logoWrapper{
    flex: 0 0 auto;
}

.logoWrapper img{
    max-height: 50%;
    max-width: 70%;
}

.linkWrapper{
    flex: 8 1 auto;
    display: flex;
    align-content: center;

}

.imageWrapper{
    flex: 0 0 auto;
}


.image{
    max-height: 150px;
    max-width: 100%;
}


.logo{
    height: 100px;
    padding:10px;
}

ul{
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    list-style-type: none;
    align-items: center;
}
li{
    flex: 1 1 auto;
    text-decoration: none;
    padding : 30px;
    font-size: 35px;
    font-family:  Arial, Helvetica, sans-serif;
}

a, a:visited{
    color : white;
    text-decoration: none;
}