    @supports (font-variation-settings: 'wdth' 115) {
      h1 {
        font-family: variable-font-family, sans-serif;
      }
    }

    .nav{
      z-index: 2;
      background-color: black;
      font-weight: 900;
      position: fixed;
      width: 100%;
      flex-direction: row;
      height: 60px;
      box-shadow: 0px 3px 0px 0px rgb(75, 75, 75);
    }

    .logoWrapper{
      height: 100%;
      flex: 3 1;
    }

    .linkWrapper{
      flex: 4 1;
      display: flex;
      margin:0px;
      padding:0px;
      flex-direction: row;
      align-content: center;
      align-items: center;
      height: 100%;
    }

    .imageWrapper{
      flex: 3 1;
      margin:0px;
      padding:0px;
      align-content: center;
      align-items: center;
      height: 100%;
    }

    .image{
      margin-left: auto;
      height: 100%;
      object-fit: contain;
    }

    .logo{
      margin-bottom: auto;
      max-height: 40px;
    }


    .nav .logoWrapper a{
      display: flex;
      justify-content: left;
      align-items: center;
      height:100%;
    }
    .nav .linkWrapper a{
      flex: 1 1 auto;
      text-decoration: none;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .nav .linkWrapper a:first-child{
      display: none;
    }
    .nav .imageWrapper a{
      display: flex;
      align-items: center;
      height:100%;
    }
    .nav a, .nav a:visited .nav a:hover, .nav a:visited:hover {
      color : white;
      text-decoration: none;
      text-align: center;
      padding: 10px;
    }

    .linkWrapper .icon {
      display: none;
    }

    @media (max-width: 1200px) {
      .logo{
        max-width: 300px;
        margin: 0;
      }
      .nav a {
        font-size: 20px;
      }
    }
    @media screen and ( max-width:1025px ) {
      .nav{display: block;}
      .imageWrapper { display: none; }
      .logoWrapper {display: none;}
      .linkWrapper a:not(:first-child) { display: none; }
      .linkWrapper a:first-child {
        display: block !important;
        text-align: center;
      }

      .linkWrapper a.icon {
        float: right;
        display: block;
        padding : 0 !important;
        height: 30px !important;
      }
      .linkWrapper a.icon:hover{
        color:rgb(141, 141, 141);
      }
      .linkWrapper a.icon i {
        float: right;
        display: block;
        font-size: 30px;
      }
      .linkWrapper.responsive{
        position: relative;
        display: block;
      }
      .linkWrapper a.icon{
        position: absolute;
        right: 10px;
        top: 15px;
      }
      .linkWrapper.responsive a {
        background-color: rgb(31, 31, 31);
        height: 60px;
        padding-top: 13px;
        float: none;
        display: block;
        text-align: center;
        font-size: 20px;
      }
      .linkWrapper.responsive a:not(:first-child,:last-child):hover {
        background-color:rgb(173, 173, 173) ;
      }
    }
