.body{
    margin: 0;
    width: 100%;
    min-height: 800px;
}

.contactContainer{
    width: 100%;
    display:block;
    text-align: center;
    opacity: 0.7;
}

.contactBackground:hover{
  opacity: 0.69;
}

.contactContainer h2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.contactContainer a, .contactContainer a:hover, .contactContainer a:visited{
    padding: 0px;
    opacity: 0.9;
    color : black;
    text-decoration: none;
}

.contactBackground{
    width: 100vw;
    height: 30vw;
    object-fit: cover;
    object-position: 0% 10%;
}
