*{
  font-family: Helvetica, "맑은 고딕", sans-serif;
  font-weight: 1000;
}

  .App {
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
}
.contentContainer{
  padding-top: 60px;
}
