.thumbanail{

}
.itemDetailContainer img{
    max-width: 100%;
}
.itemDetailContainerWrapper{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.info hr{
    border: 0;
    clear:both;
    display:block;
    width: 100%;
    background-color:rgb(87, 87, 87);
    height: 1px;
    margin: 0;
}

.itemDetailContainer{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: center;
}

.itemDetail{
    display: flex;
    flex-direction: row;
}
.itemDetail .detailImage{
    width: 50%;
}

.itemDetail .info{
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.itemDetail .info div{
    display: block;
    text-align: left;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    word-break: break-all;
}
.itemDetail .info .name {
    font-size: 40px;
}

.body{
    margin-top: 30px;
}

.details{
  margin-top: 50px;
}

.body{
    display: flex;
}

.button, .button:visited{
    background-color: black;
    text-decoration: none;
    color:white;
    padding: 5px;
    text-align: center;
}

.button:hover, .button:visited:hover {
    color:white;
    text-decoration: none;
    opacity: 0.7;
}

@media screen and ( max-width:950px ) {
    .itemDetailContainer{
        width: 100%;
    }
    .itemDetail .info{
        width: 100%;
        padding: 0;
        font-size: 13px;
    }
    .itemDetail .info .name {
        font-size: 26px;
    }
    .itemDetail{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and ( max-width:450px ) {
    .itemDetail{
        flex-direction: column;
        align-items: center;
    }
    .itemDetail .detailImage{
        width: 80%;
    }
}
