.thumbanail{

}
.itemDetailContainer img{
    max-width: 100%;
}
.itemDetailContainerWrapper{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.info hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:rgb(87, 87, 87);
    height: 1px;
    margin: 0;
}

.itemDetailContainer{
    display: flex;
    width: 60%;
    flex-direction: column;
    text-align: center;
}

.itemDetail{
    display: flex;
    flex-direction: row;
}
.itemDetail .detailImage{
    width: 50%;
}

.itemDetail .info{
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.itemDetail .info span {
    margin: 0;
    padding: 0px;
}

.body{
    margin-top: 30px;
}


.body{
    display: flex;   
}

.button, .button:visited{
    background-color: black;
    text-decoration: none;
    color:white;
    padding: 5px;
    text-align: center;
}

.button:hover, .button:visited:hover {
    text-decoration: none;
    opacity: 0.7;
}

@media screen and ( max-width:950px ) {
    .itemDetailContainer{
        width: 100%;
    }
    .itemDetail .info{
        width: 100%;
        padding: 0;
        font-size: 13px;
    }
    .itemDetail{
        flex-direction: column;
        align-items: center;
    }
    .itemDetail .detailImage{
        width: 100%;
    }
}