.frame{
    position: absolute;
}

.frame .topLeft{
    z-index: 1;
    position: relative;
    top: -20px;
    left: -20px;
    height: 10px;
}

.frame .topRight{
    z-index: 1;
    position: relative;
    top: -20px;
    left: 380px;
    height: 10px;
}
.frame .bottomLeft{
    z-index: 1;
    position: relative;
    top: 350px;
    left: -20px;
    height: 10px;
}
.frame .bottomRight{
    z-index: 1;
    position: relative;
    top: 350px;
    left: 370px;
    height: 10px;
}


.itemContainer .thumbnail{
    display: block;
    object-fit: cover;
}

.itemContainerWrapper{
    display: flex;
    justify-content: center;
}

.itemContainer{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
}

.item {
    flex: 1 1 auto;
    height: 600px;
    align-items: center;
    display: flex;
    flex-flow: column;
    transition: .5s ease;
    margin: 30px;
}

.frameWrapper{
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: block;
}

.thumbnail:hover{
    opacity: 0.3;
}

.thumbnail{
    opacity: 1;
    transition: 0.4s ease;
    max-width: 100%;
}

.item span{
    flex: 1 1 auto;
    font-size: 20px;
    height: 30;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}