.shopContent{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body{
    width: 100%;
    min-height: 1200px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    display: flex ;
}

.footerContent{
    width: 80%;
    
}

.footerLogo{
    width: 300px;
    opacity: 0.5;
}



hr{
    border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFFF00;
  height: 1px;
  margin: 0;
}